
P{
    margin:3px 0;
}


div#inputArea{
    background-color: darkgrey;
    height: 330px;
}

div#displayArea{
    height: 400px;
    margin-top: 10px;
    background-color: #ccffcc;
    overflow-y: scroll;
}

.hd1{
    background-color: olivedrab;
    font-size: 1.5em;
    text-align: center;
}

.row{
    background-color: olive;
}
.kakikobody{
    margin-left: 30px;
    margin-right: 30px;
}

